<header id="main-header">
    <h1><a href="/">CampusTrade</a></h1>
    <nav>
      <ul>
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item">
          <a href="/products">Browse Products</a>
        </li>
        <li class="nav-item">
          <a href="/list-products">List a Product</a>
        </li>
        <li class="nav-item"><a href="">Account</a></li>
      </ul>
    </nav>
    <button id="drawer-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </header>