<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./includes/head') %>
<link rel="stylesheet" href="/styles/index-styles.css" />
  </head>
  <body>
   <%- include('./includes/header') %>
    <%- include('./includes/aside') %>
    <h1 style="text-align: center;">OOPS!!</h1>
    <p style="text-align: center;">Something went wrong on the server!! We are working on it</p>
  </body>
</html>
