<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/styles/shared.css" />
    <script src="/scripts/responsive.js" defer></script>
  </head>
  <body>
   <%- include('./includes/header') %>
   <%- include('./includes/aside') %>
    <main>
        <h2 style="text-align: center; margin: 10rem auto;">Product was added successfully!!</h2>
    </main>
  </body>
</html>