<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/styles/list-products.css" />
  </head>
  <body>
    <%- include('./includes/header') %> <%- include('./includes/aside') %>
    <main>
      <h1>List Your Items Here</h1>
      <div class="form-box">
        <form action="/list-products" method="post">
          <div class="form-control">
            <label for="name">Item</label>
            <input type="text" id="name" name="name" required />
          </div>

          <div class="form-control">
            <label for="description">Describe your item</label>
            <input type="text" id="description" name="description" required />
          </div>

          <div class="form-control">
            <label for="">Set your price</label>
            <input type="number" id="price" name="price" required />
          </div>
          <button>List the Item</button>
        </form>
      </div>
    </main>
  </body>
</html>
